
#main-header span:hover {
    cursor: pointer;
    opacity: 0.8;
    text-decoration: underline;
}
a .img-fluid {
    width: auto;
    height: auto;
    object-fit: cover;
}
.tough-thumbnail {
    height: 40em;
}
.title {
    margin-top: 20px;
}
@media screen and (max-width: 767px) {
    .title {
  }
}
#work {
    margin-top: 100px;
}
#about {
    margin-top: 100px;
}
.navbar {
    height: 100px;
    color: black;
    background-color: rgba(255, 255, 255, 0.945);
}
.navbar a {
    color: black;
    font-size: larger;
}